@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Calibri"; }

h1, h2, h3, h4, h5, h6, ul, li, p, a, div {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  font-weight: normal; }

* {
  box-sizing: border-box; }

input {
  outline: none;
  border: 1px solid #aaa; }

* {
  box-sizing: border-box; }

#root .app {
  margin: 50px auto;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 410px; }
  #root .app h2 {
    color: #3498db;
    text-align: center;
    padding: 25px 50px;
    font-family: 'Roboto'; }
  #root .app .progress-bar .bar-container {
    width: 100%;
    vertical-align: middle;
    border: 1px solid #999;
    border-left: 0px;
    border-right: 0px; }
    #root .app .progress-bar .bar-container .bar {
      height: 5px;
      position: relative; }
      #root .app .progress-bar .bar-container .bar .active-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        background: #3498db;
        transition: all ease-out .3s; }
  #root .app form {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 30px; }
    #root .app form .container {
      position: absolute;
      width: 900px;
      transform: translateX(0px);
      transition: all ease-out .3s; }
      #root .app form .container .first-block, #root .app form .container .second-block, #root .app form .container .third-block {
        display: inline-block;
        width: 300px; }
      #root .app form .container .first-block {
        padding: 10px; }
        #root .app form .container .first-block div {
          margin-top: 15px; }
          #root .app form .container .first-block div label {
            font-family: 'Roboto';
            color: #999; }
          #root .app form .container .first-block div div {
            margin-top: 15px; }
            #root .app form .container .first-block div div input {
              width: 100%;
              border: transparent;
              border-bottom: 1px solid #ccc;
              color: #444;
              line-height: 170%;
              font-family: 'Roboto';
              font-size: 18px; }
            #root .app form .container .first-block div div span {
              font-family: 'Roboto';
              color: #999; }
              #root .app form .container .first-block div div span.error {
                color: #e74c3c; }
      #root .app form .container .second-block {
        padding: 10px; }
        #root .app form .container .second-block div {
          margin-top: 15px;
          text-align: center; }
          #root .app form .container .second-block div label {
            font-family: 'Roboto';
            color: #999; }
            #root .app form .container .second-block div label:last-child {
              margin-right: 5px; }
            #root .app form .container .second-block div label:first-child {
              margin-left: -5px; }
          #root .app form .container .second-block div div {
            display: flex;
            justify-content: space-around; }
            #root .app form .container .second-block div div input {
              flex-grow: 1;
              width: 50px;
              padding: 5px 10px;
              text-align: center;
              border: 1px solid #999;
              border-right: none;
              padding: 5px 10px; }
              #root .app form .container .second-block div div input::placeholder {
                color: #999; }
              #root .app form .container .second-block div div input:last-child {
                border-right: 1px solid #999; }
            #root .app form .container .second-block div div label {
              font-size: 12px;
              flex-grow: 1;
              width: 33.3%; }
              #root .app form .container .second-block div div label input {
                width: 100%;
                appearance: none; }
            #root .app form .container .second-block div div select {
              width: 100%; }
        #root .app form .container .second-block .gender div label input {
          padding: 12px;
          border: 1px solid #999;
          border-right: 0;
          cursor: pointer; }
          #root .app form .container .second-block .gender div label input:after {
            color: #999; }
          #root .app form .container .second-block .gender div label input:checked {
            background: #3498db;
            border: 1px solid #3498db; }
            #root .app form .container .second-block .gender div label input:checked:after {
              color: #fff; }
        #root .app form .container .second-block .gender div label:nth-child(1) input {
          position: relative; }
          #root .app form .container .second-block .gender div label:nth-child(1) input:after {
            transform: translate(-50%, -50%);
            font-family: 'Roboto';
            position: absolute;
            content: 'MALE'; }
        #root .app form .container .second-block .gender div label:nth-child(2) input {
          position: relative; }
          #root .app form .container .second-block .gender div label:nth-child(2) input:after {
            transform: translate(-50%, -50%);
            font-family: 'Roboto';
            position: absolute;
            content: 'FEMALE'; }
        #root .app form .container .second-block .gender div label:nth-child(3) input {
          border-right: 1px solid #999; }
          #root .app form .container .second-block .gender div label:nth-child(3) input:after {
            transform: translate(-50%, -50%);
            font-family: 'Roboto';
            position: absolute;
            content: 'UNSPECIFIED'; }
          #root .app form .container .second-block .gender div label:nth-child(3) input:checked {
            background: #3498db;
            border: 1px solid #3498db; }
      #root .app form .container .third-block div {
        text-align: center; }
        #root .app form .container .third-block div img {
          height: 120px;
          display: inline-block; }
        #root .app form .container .third-block div .container-btn {
          margin-top: 15px; }
          #root .app form .container .third-block div .container-btn button {
            padding: 5px 10px;
            background: #fff;
            color: #3498db;
            border: 1px solid #3498db;
            border-radius: 3px;
            transition: all ease-out .2s;
            cursor: pointer;
            font-family: 'Roboto'; }
            #root .app form .container .third-block div .container-btn button:hover {
              color: #fff;
              background: #3498db; }
  #root .app .btn-container {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    display: flex; }
    #root .app .btn-container.two {
      justify-content: space-between; }
    #root .app .btn-container .btn {
      display: inline-block;
      font-family: 'Roboto';
      cursor: pointer; }
      #root .app .btn-container .btn.next {
        color: #3498db;
        float: right; }
      #root .app .btn-container .btn.back {
        color: #777; }
